body{
    padding:0;
    margin: 0;
    position:relative;
}

.fond-image{
    background: linear-gradient(rgba(5, 7, 12, 0.50), 
    rgba(5, 7, 12, 0.50)), url("/static/img/fondImage.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -1; 
}


.grid-container{
    display:grid;
    height:100vh;
    grid-auto-columns: minmax(auto, 250px);
    grid-template-areas: 'header header header header'
                        'form form form form'
                        'tasks tasks tasks tasks';
    justify-content: center;
    overflow: auto;
}

.grid-container > .header, .form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 5px;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #03C4A1;
}


.grid-container > .header > label{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.table-tasks {
    width: 100%;
    overflow: auto
}

table {
    border-collapse: collapse;
    border-color: #FBFFE2;
    word-wrap:break-word;
    table-layout: fixed;
}


table > thead {
    font-size: 26px;
    color: #9FD8DF;
}

table > tbody > tr > td{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #E2C2B9;

}


table > tbody > tr > .comentaries, .images {
    text-align: center;
}

table > tbody > tr > td > img {
    max-width: 32px;
    max-height: 32px;
}

/* Size the colums table */
table > tbody > tr > .name-task {
    width: 35%;
}

table > tbody > tr > .comentaries {
    width: 55%;
}

table > tbody > tr > .images {
    width: 10%;
}

/* -----------------------------------  */

table > tbody > tr:hover {
    background: rgba(0, 87, 146, 0.3);
}

.header{grid-area: header; height: 80px;}
.form{grid-area: form;}
.table-tasks{grid-area: tasks}



.grid-container > form > input{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    margin: 10px;
    text-align: center;
}

input[type="checkbox"]{
    width:25px;
    height:25px;
}

input[type="text"]{
    width: 100%;
    height:40px;
}

button{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    width:258px;
    height:45px;
    background-color:#064663;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease all;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}



/* Remember after is a soon of the element in this case soon of the button for that reason button has position relative and after has position abosulute and so we can say with / height 100% of his fater (button)*/
button::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    transition: 0.3s ease-in-out all;
    border-bottom: 60px solid #DA0037;
    border-right: 30px solid transparent;
    left: calc(-100% - 30px); /* -30px because the border right has 30px so for avoid this border enter to the element */

}

/* Our span tag contains the text of the boton so for get put it above after element we set it to
z-index:2 and our after with z-index:1*/
button span{
    position: relative;
    z-index: 2;
}

button:hover::after{
    left: 0;
}