<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp_By_FrancoDev</title>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="fond-image hide"></div>

    <div class="grid-container hide">
        <header class="header">
            <h1>TO DO APP BY FRANCO DEV</h1>
        </header>

        <form class="form hide" id="form">
            <input  type="text" class='task' id="input-taskName" name="task-name" placeholder="Write Your Task Here">
            <textarea  class='coment-task' id="textarea-taskComments" name="task-comments" placeholder="Add the task comments... " wrap="soft"></textarea>
            <button class="btn-task" id="btn-task"><span>Add Task</span></button>
        </form>

        <div class="table-tasks hide">
            <table border>
                <thead>
                    <th class="table-headers">Task Name</th>
                    <th class="table-headers">Task Comments</th>
                    <th class="table-headers">Edit</th>
                    <th class="table-headers">Delete</th>
                </thead>
                <tbody id="tbody">
                <!-- The rows are created and added here through javaScript -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>