<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp_By_FrancoDev</title>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="fond-image"></div>

    <div class="grid-container">
        <header class="header">
            <h1>TO DO APP BY FRANCO DEV</h1>
        </header>

        <form class="form" id="form">
            <input type="text" class='task' id="input-taskName" name="task-name" placeholder="Write Your Task Here">
            <input type="text" class='coment-task' id="input-taskComment" name="task-comments" placeholder="Comments...">
            <button class="btn-task" id="btn-task"><span>Add Task</span></button>
        </form>

        <div class="table-tasks">
            <table border>
                <thead>
                    <th>Task Name</th>
                    <th>Task Comments</th>
                    <th>Edit Task</th>
                    <th>Delete Task</th>
                </thead>
                <tbody id="tbody">
                    {%for task in tasksData%}
                        {% if task.important == 'yes' %}
                            <tr class="set-important-color" data-task-id="{{task.id_task}}">
                        {% else %}
                            <tr data-task-id="{{task.id_task}}">
                        {% endif %}
                            <td class="name-task" data-task-id="{{task.id_task}}">
                                {% if task.task_completed == 'yes' %}
                                    <input class="task-name input-checkbox" type="checkbox" name="task-{{task.id_task}}" data-task-id="{{task.id_task}}" checked>
                                {% else %}
                                    <input class="task-name input-checkbox" type="checkbox" name="task-{{task.id_task}}" data-task-id="{{task.id_task}}">
                                {% endif %}
                                <label class="task-name text-task" for="task-{{task.id_task}}" data-task-id="{{task.id_task}}">{{task.task_name}}</label>
                            </td>
                            <td class="comentaries">
                                <label class="comments" data-task-id="{{task.id_task}}">{{task.task_comment}}</label>
                            </td>
                            <td class="images">
                                <img class="edit" src="{{url_for('static', filename='img/edit.png')}}" alt="edit-image" data-task-id="{{task.id_task}}">
                            </td>
                            <td class="images">
                                <img class="delete" src="{{url_for('static', filename='img/delete.png')}}" alt="delete-image" data-task-id="{{task.id_task}}">
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>