<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp_By_FrancoDev</title>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="fond-image"></div>

    <div class="grid-container">
        <header class="header">
            <h1>TO DO APP BY FRANCO DEV</h1>
        </header>

        <form class="form" id="form">
            <input type="text" class='task' id="input-taskName" name="task-name" placeholder="Write Your Task Here">
            <!-- <input type="text" class='coment-task' id="input-taskComment" name="task-comments" placeholder="Comments..."> -->
            <textarea class='coment-task' id="textarea-taskComments" name="task-comments" placeholder="Add the task comments... " wrap="soft"></textarea>
            <button class="btn-task" id="btn-task"><span>Add Task</span></button>
        </form>

        <div class="table-tasks">
            <table border>
                <thead>
                    <th class="table-headers">Task Name</th>
                    <th class="table-headers">Task Comments</th>
                    <th class="table-headers">Edit</th>
                    <th class="table-headers">Delete</th>
                </thead>
                <tbody id="tbody">
                    {%for task in tasksData%}
                        <tr data-task-id="{{task.id_task}}">
                        {% if task.important == 'yes' %}
                            <td class="name-task set-important-color" data-task-id="{{task.id_task}}">
                                {% if task.task_completed == 'yes' %}
                                    <input class="task-name input-checkbox" type="checkbox" name="task-{{task.id_task}}" data-task-id="{{task.id_task}}" checked>
                                {% else %}
                                    <input class="task-name input-checkbox" type="checkbox" name="task-{{task.id_task}}" data-task-id="{{task.id_task}}">
                                {% endif %}
                                <label class="task-name text-task" for="task-{{task.id_task}}" data-task-id="{{task.id_task}}">{{task.task_name}}</label>
                            </td>
                            <td class="comentaries set-important-color" data-task-id="{{task.id_task}}">
                                <label class="comments" data-task-id="{{task.id_task}}">{{task.task_comment}}</label>
                            </td>
                            <td class="images set-important-color" data-task-id="{{task.id_task}}">
                                <img class="edit" src="{{url_for('static', filename='img/edit.png')}}" alt="edit-image" data-task-id="{{task.id_task}}">
                            </td>
                            <td class="images set-important-color" data-task-id="{{task.id_task}}">
                                <img class="delete" src="{{url_for('static', filename='img/delete.png')}}" alt="delete-image" data-task-id="{{task.id_task}}">
                            </td>
                            {% else %}
                                <td class="name-task" data-task-id="{{task.id_task}}">
                                    {% if task.task_completed == 'yes' %}
                                        <input class="task-name input-checkbox" type="checkbox" name="task-{{task.id_task}}" data-task-id="{{task.id_task}}" checked>
                                    {% else %}
                                        <input class="task-name input-checkbox" type="checkbox" name="task-{{task.id_task}}" data-task-id="{{task.id_task}}">
                                    {% endif %}
                                    <label class="task-name text-task" for="task-{{task.id_task}}" data-task-id="{{task.id_task}}">{{task.task_name}}</label>
                                </td>
                                <td class="comentaries" data-task-id="{{task.id_task}}">
                                    <label class="comments" data-task-id="{{task.id_task}}">{{task.task_comment}}</label>
                                </td>
                                <td class="images" data-task-id="{{task.id_task}}">
                                    <img class="edit" src="{{url_for('static', filename='img/edit.png')}}" alt="edit-image" data-task-id="{{task.id_task}}">
                                </td>
                                <td class="images" data-task-id="{{task.id_task}}">
                                    <img class="delete" src="{{url_for('static', filename='img/delete.png')}}" alt="delete-image" data-task-id="{{task.id_task}}">
                                </td>
                        {% endif %}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>